<b> nedw </b>


<div class = "login">
<%= flash[:notice] %>
<%= form_tag(:action => "create") do %>
<table>
	<tr>
		<td><%= label_tag(:email) %></td>
		<td><%= text_field_tag(:email) %></td>
	</tr>
	<tr>
		<td><%= label_tag(:password) %></td>
		<td><%= password_field_tag(:password) %></td>
	</tr>
	<tr>
		<td><%= label_tag(:message) %></td>
		<td><%= password_field_tag(:message) %></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><%= submit_tag("Log In") %></td>
	</tr>
</table>
<% end %>
</div>


