<b> show </b>
<table>
<tr>
<td>ID</td>
<td>First-Name</td>
<td>Last-Name</td>
<td>Email-Address</td>
<td>Bio</td>

</tr>
<tr>
<td><%= @user.id %></td>
<td><%= @user.first_name %></td>
<td><%= @user.last_name %></td>
<td><%= @user.email %></td>
<td><%= @user.Bio %></td>



</tr>
</table>

<%= link_to "Edit User", :controller => "user", :action => "edit", :id => params[:id] %>

<p><%= link_to "delete", :controller => "user", :action => "prompt", :id => @user.id  %></p>